%h3 Create Allocation for your invoice
%h4 Your Invoice: #{current_user.invoices.last.name}
%h4 Your Invoice amount: 
%span.invoice-amount #{current_user.invoices.last.amount}

- @users.each do |user|
  = form_for @allocation do |f|
    = f.label user.name 
    %br
    = f.hidden_field :user_id, value: user.id, class: 'user-name'
    = f.hidden_field :invoice_id, value: current_user.invoices.last.id, class: 'invoice-name'
    = f.label :share
    = f.text_field :share, class: 'allocation-share', value: 0
%p.group_id.hidden #{current_user.invoices.last.group_id}
%button#allocation-master.hidden Submit Allocation