%h3 Create Allocation for your invoice
- @users.each do |user|
  = form_for @allocation do |f|
    = f.hidden_field :user_id, value: user.id, :class => 'user-name'
    = f.hidden_field :invoice_id, value: user.invoices.first.id, :class => 'invoice-name'
    = f.label :percentage
    = f.text_field :percentage, :class => 'allocation-percentage'
%button#master CLICK