.container
  %h1 Fareshare Group Page

= form_for(@group) do |f|
      
  %p
    .field
      = f.label :name
      %br
      = f.text_field :name

  %p
    .field
      = f.label :description
      %br
      = f.text_area :description

  %p
    .field
    - User.all.each do |user|
      = check_box_tag "group[user_ids][]", user.id, @group.users.include?(user), id: "group_user_ids_#{user.id}"
      = f.label :user_ids, user.name, for: "group_user_ids_#{user.id}"
    
  %p
    .actions
      = f.submit :class => "submit"

%h2.new-group 






