%h2= @group.name 
.group
  %p= @group.description
  
  %ul
    - @group.users.each do |user| 
      %li= user.name 

  %table
    %tr
      %th Invoice
      %th Amount
      %th Due Date
      %th Status
    - @group.invoices.each do |invoice|  
      %tr
        %td.invoice-name= invoice.name
        %td.invoice-amount= invoice.amount
        - if invoice.due_date
          %td= invoice.due_date.strftime("%d %b. %Y") 
        %td 
          = link_to('pay this invoice', invoice, class: "pay-invoice", :data => { :id => invoice.id})
         
        %td
          %a{:href => "https://www.britishgas.co.uk/Login/Login-Verify/"} British Gas

        
      