-if @user.id == current_user.id

  %h1= @user.name
  .user
    = image_tag(@user.gravatar_url)

    %h3= mail_to @user.email

    %p Balance: #{@user.balance.to_i}

    %h3 View your outstanding invoices!:

    %table
      %tr
        %th Invoice
        %th Amount
        %th Your share to pay:
      - @allocations.each do |allocation|  
        %tr
          %td= allocation.invoice.name
          %td= allocation.invoice.amount
          %td= allocation.share
-else
  %h1 SORRY, YOU CANNOT VIEW OTHER USER'S INFORMATION!
          


// need button to each group show page that this user is a member of:
//so "Student Group", say. "go to group"
//"House Group", go to group