-if @user.id == current_user.id

  %h1= @user.name
  .user
    = image_tag(@user.gravatar_url)

    %h3= mail_to @user.email

    %p Balance: #{@total_share_amount }

    %h3 View your outstanding invoices!:

    %table
      %tr
        %th Invoice
        %th.hidden Allocation Id
        %th Group
        %th.hidden Group Id
        %th Amount
        %th Your share to pay:
        %th Pay now
      - @allocations.each do |allocation|  
        %tr
          %td= allocation.invoice.name
          %td.hidden= allocation.id
          %td= link_to allocation.invoice.group.name, group_path(allocation.invoice.group)
          %td.hidden= allocation.invoice.group.id
          %td= allocation.invoice.amount
          %td= allocation.share
          %td
            %button.pay-user-invoice Pay this invoice!
    

-else
  %h1 SORRY, YOU CANNOT VIEW OTHER USER'S INFORMATION!
          


// need button to each group show page that this user is a member of:
//so "Student Group", say. "go to group"
//"House Group", go to group