
.profile
  %h1= @user.name
  .user
    = image_tag(@user.gravatar_url)

    %h3= mail_to @user.email
    .btn.btn-primary.btn-lg.green
      = link_to "Create a New Group", groups_path
    -if @user.id == current_user.id
      .user-groups
      %h4 Groups
      .groups
        - @user.groups.each do |group|
          = link_to group.name, group_path(group)
          |
        - if @total_share_amount != nil
        
          %h3 Outstanding Invoices    |    You Currently Owe: £ #{number_with_delimiter(@total_share_amount, :delimiter => ',')}
          
          %table.invoice-table
            %tr
              %th Invoice
              %th.hidden Allocation Id
              %th Group
              %th.hidden Group Id
              %th Amount
              %th Your share to pay:
              %th Pay now
              - @unpaid_shares.each do |allocation|  
                %tr
                  %td= allocation.invoice.name
                  %td.hidden= allocation.id
                  %td= allocation.invoice.group.name
                  %td.hidden= allocation.invoice.group.id
                  %td= allocation.invoice.amount
                  %td= allocation.share
                  %td
                    %button.pay-user-invoice Pay this invoice!
        -else
          %p Nothing to pay now!


// need button to each group show page that this user is a member of:
//so "Student Group", say. "go to group"
//"House Group", go to group

